.Raise {
    color: #ff5a51;
    border-color: #ff5a51;
}

.Fold {
    color: #9fb3c8;
    border-color: #3E4C59;

}

.Call {
    color: #54c12c;
    border-color: #54c12c;
}

table {
    font-size: 12px;

}

th {
    display: none;
}

td {
    border: 1px black solid;
    width: 25px;
    height: 25px;
    margin: 1px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    background-color: #3E4C59;
}