.Container {
    display: inline-block;
    margin: 2px;
    position: relative;
    margin-top: -4px;
}

.NotInRange{
    background: #363636;
    border-color: #363636;
}

.RaiseBox {
    min-height: 30px;
    background-color: #FF726B;
    border-color: #FF726B;
}

.CallBox {
    background-color: #54c12c;
    border-color: #54c12c;
}

.FoldBox {
    background-color:#00AFD6;
    border-color:#00AFD6;
}

.ChartLabel{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 20px;
    z-index: 999;
    position: absolute;
    top: 27%;
    right: 20%;
}

.TableBox {
    display: flex;
    width: 30px;
    border-radius: 4px;
}

.ChartTable {
    display: table;         
    width: auto;         
    border-spacing: 3px;
}

.ChartRow{
    display: table-row;
    width: auto;
    clear: both;
}