
.chartType input[type="radio"]:checked+label {
    background: #E6c02A;
    border-color: #E6c02A;
}

.heroPosition input[type="radio"]:checked+label {
    background: #E6c02A;
    border-color: #E6c02A;
}

.villianPosition input[type="radio"]:checked+label {
    background: #E6c02A;
    border-color: #E6c02A;
}

.playerCount input[type="radio"]:checked+label {
    background: #E6c02A;
    border-color: #E6c02A;
}

.sizing input[type="radio"]:checked+label {
    background: #E6c02A;
    border-color: #E6c02A;
}

.chartType label{
    width: 80px;
}

ul {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    display: inline-block;
    margin-right: 5px;
}

input {
    visibility:hidden;
}

.SelectionsLabel {
    cursor: pointer;
    font-size: 30px;
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background: #363636;
    border-style: solid;
    border-color: #363636;
    margin-bottom: 0px;
}

.TextLabel {
    font-size: 25px;
    margin-top: 20px;
    font: bold; 
}

input[type=radio] {
    border: 0px;
    width: 0px;
    height: 0px;
    text-align: center;
}

h3 {
    margin: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.hide {
    display:none;
}

.show {
    
}