.Raise {
    border-color: #FF726B;
    background: #FF726B;
}

.Fold {
    border-color: #00AFD6;
    background: #00AFD6
}

.Call {
    background: #54c12c;
    border-color: #54c12c;
}

.legend { 
    list-style: none; 
}

.legend li { 
    float: left; 
    margin-right: 30px; 
}

.legend li label {
    float: left; 
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    margin-right: 5px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    border-radius: 4px;
    border-style: solid;
    width: 90px;
}

.dynamic {
    display: none;
}