.Raise {
    color: #ff5a51;
    border-color: #ff5a51;
    border-style: solid;
    width: 90px;
    background-color: #3E4C59;
}

.Fold {
    color: #9fb3c8;
    border-color: #3E4C59;
    background-color: #3E4C59;
    border-style: solid;
    width: 90px;

}

.Call {
    color: #54c12c;
    border-color: #54c12c;
    border-style: solid;
    width: 90px;
    background-color: #3E4C59;
}

.dynamicRaise {
    background-color: red;
}

.dynamicFold {
    background-color: blue;
    ;
}

.dynamicCall {
    background-color: green;
}

.legend { 
    list-style: none; 
}

.legend li { 
    float: left; 
    margin-right: 30px; 
    font-size: 20px;    
}
.legend label {
    float: left; 
    height: 40px;
    margin-right: 5px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    border-radius: 4px;
}

.dynamic {
    display: none;
}