.Raise {
    background-color: #fca652;
}

.Fold {
    background-color: #a2d5f2;
    ;
}

.Call {
    background-color: #81b214;
}

.dynamicRaise {
    background-color: red;
}

.dynamicFold {
    background-color: blue;
    ;
}

.dynamicCall {
    background-color: green;
}

.legend { 
    list-style: none; 
}

.legend li { 
    float: left; 
    margin-right: 30px; 
    font-size: 20px;
}
.legend span {
    float: left; 

    border: 1px black solid;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    border-radius: 4px;
    
}

.dynamic {
    display: none;
}