input {
    border: 1px solid #a4a4a4;
    padding: 15px 20px;
    border-radius: 4px;
    width: 15%;
    margin-bottom: 10px;
    background: #f8f8ff;
}

form {
    background-color: white;
}

form label {
    color: red;
}

form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }